    body{
    background-color: #ffe719;
    
}	

#topo{
    background-image: url('images/firula.png');
    height: auto;
    background-repeat: repeat-x;
    background-position-y: 10%;
}
.list-group-item{border:none; background-color: transparent;}
li.list-group-item a {    
    color: #fff;
    text-decoration: none;
    font-family: tahoma;
    font-size: 12px;
    transition: 0.3s;
    padding: 7px 5px 0;
    border-radius: 0px;
    margin: 0 0 0 8px;
    position: relative;
    z-index: 5;}
.item.banner-1{background-image: url('images/hat-hotsite.png'); background-repeat: no-repeat; height: 390px; background-position: center 0px; background-size: auto;}
.item.banner-2{background-image: url('images/hat-hotsite.png'); background-repeat: no-repeat; height: 390px; background-position: center 20%; background-size:auto;}
.item.banner-3{background-image: url('images/hat-hotsite.png'); background-repeat: no-repeat; height: 390px; background-position: center 40%; background-size:auto;}
.item.banner-4{background-image: url('images/hat-hotsite.png'); background-repeat: no-repeat; height: 390px; background-position: center 60%; background-size:auto;}
.item.banner-5{background-image: url('images/hat-hotsite.png'); background-repeat: no-repeat; height: 390px; background-position: center 80%; background-size:auto;}
.item.banner-6{background-image: url('images/hat-hotsite.png'); background-repeat: no-repeat; height: 390px; background-position: center 100%; background-size:auto;}

.carousel-indicators li {background-color: #ddd;border-radius: 20px;}
#laranja{
    background-color: #FF6000;
    width: 100%;
    height: auto;
}

.categorias-bf li .dptos { width: 25px; height: 20px; float: left; margin: -2px 5px; background: url(https://www.kalunga.com.br/HotSite/images/aniversario/2018/imagens/submenu-icones.png)-15px -22px; transition: 0.2s;}
.bf-apresentacao {background-position: -14px -20px !important;}
.bf-arte {background-position: -14px -57px !important;}
.bf-canetas-luxo {background-position: -14px -90px !important;}
.bf-coffee-break {background-position: -15px -125px !important;}
.bf-eletronicos {background-position: -15px -161px !important;}
.bf-embalagens {background-position: -15px -198px !important;}
.bf-envelopes {background-position: -15px -236px !important;}
.bf-escolar {background-position: -13px -271px !important;}
.bf-escrita {background-position: -13px -308px !important;}
.bf-escritorio {background-position: -58px -21px !important;}
.bf-impressoras {background-position: -56px -55px !important;}
.bf-informatica {background-position: -58px -88px !important;}
.bf-limpeza {background-position: -57px -125px !important;}
.bf-midias {background-position: -56px -161px !important;}
.bf-monitores {background-position: -55px -198px !important;}
.bf-moveis {background-position: -57px -232px !important;}
.bf-notebooks {background-position: -54px -270px !important;}
.bf-papeis {background-position:  -13px -346px !important;}
.bf-softwares {background-position: -98px -54px !important;}
.bf-rede {background-position: -99px -20px !important;}
.bf-telefonia {background-position: -98px -87px !important;}
.bf-cartuchos {background-position: -99px -123px !important;}
.bf-eletrica {background-position: -102px -160px !important;}
.bf-gamers {background-position: -98px -232px !important;}
.bf-organizacao {background-position: -54px -347px !important;}
.bf-relampago {background-position: -101px -347px !important;}
.borda{
    border-left: #ddd solid 1px;
}

#categorias-page{
    background-image: url('images/aniversario-categoria.png');
    height: 240px;
    margin: 0px auto 20px;
    background-repeat: no-repeat;
    background-size: cover;

}


@media  (max-width: 768px){
.borda, .borda-1{
    border-left: none;
    border-bottom: #ddd solid 1px;
    padding: 0;
    margin: 0;

    }

.item.banner-1,.item.banner-2,.item.banner-3,.item.banner-4,.item.banner-5,.item.banner-6{
    height: 300px; background-size: cover;}
}

@media(max-width: 575.98px){
    li.list-group-item {
        padding: 14px 1px 10px 28px;
    }
    #categorias-page{
        margin: 0px auto -70px;
    }
.item.banner-1,.item.banner-2,.item.banner-3,.item.banner-4,.item.banner-5,.item.banner-6{height: 230px; }


}